# Disclosure
This code is a modified version of TFIDF.ipynb that is created by mayank408 from Github. All credits goes to them.

I made the code flexible to accept a variable number of documents.

In [1]:
docs = [
    'Science has expanded the quality of human life',
    'Human uses advances in material sciences to improve their lives',
    'Boeing uses many alloy materials to create this model of airplanes'
]

In [9]:
bows = []
for i in range(len(docs)):
    bows.append(docs[i].split(" "))

In [11]:
bows[0]

['Science', 'has', 'expanded', 'the', 'quality', 'of', 'human', 'life']

In [13]:
wordSet = ''
for bow in bows:
    wordSet = set(wordSet).union(set(bow))

In [14]:
wordSet

{'Boeing',
 'Human',
 'Science',
 'advances',
 'airplanes',
 'alloy',
 'create',
 'expanded',
 'has',
 'human',
 'improve',
 'in',
 'life',
 'lives',
 'many',
 'material',
 'materials',
 'model',
 'of',
 'quality',
 'sciences',
 'the',
 'their',
 'this',
 'to',
 'uses'}

In [32]:
wordDicts = []
for i in range(len(bows)):
    wordDicts.append(dict.fromkeys(wordSet, 0))

In [33]:
wordDicts

[{'the': 0,
  'life': 0,
  'material': 0,
  'human': 0,
  'alloy': 0,
  'in': 0,
  'uses': 0,
  'this': 0,
  'lives': 0,
  'Boeing': 0,
  'of': 0,
  'Human': 0,
  'improve': 0,
  'expanded': 0,
  'airplanes': 0,
  'advances': 0,
  'their': 0,
  'sciences': 0,
  'to': 0,
  'materials': 0,
  'quality': 0,
  'create': 0,
  'many': 0,
  'has': 0,
  'model': 0,
  'Science': 0},
 {'the': 0,
  'life': 0,
  'material': 0,
  'human': 0,
  'alloy': 0,
  'in': 0,
  'uses': 0,
  'this': 0,
  'lives': 0,
  'Boeing': 0,
  'of': 0,
  'Human': 0,
  'improve': 0,
  'expanded': 0,
  'airplanes': 0,
  'advances': 0,
  'their': 0,
  'sciences': 0,
  'to': 0,
  'materials': 0,
  'quality': 0,
  'create': 0,
  'many': 0,
  'has': 0,
  'model': 0,
  'Science': 0},
 {'the': 0,
  'life': 0,
  'material': 0,
  'human': 0,
  'alloy': 0,
  'in': 0,
  'uses': 0,
  'this': 0,
  'lives': 0,
  'Boeing': 0,
  'of': 0,
  'Human': 0,
  'improve': 0,
  'expanded': 0,
  'airplanes': 0,
  'advances': 0,
  'their': 0,
  'sciences': 0,
  'to': 0,
  'materials': 0,
  'quality': 0,
  'create': 0,
  'many': 0,
  'has': 0,
  'model': 0,
  'Science': 0}]

In [34]:
i = 0
for bow in bows:
    for word in bow:
        wordDicts[i][word]+=1
    i = i + 1

In [35]:
wordDicts[0]

{'the': 1,
 'life': 1,
 'material': 0,
 'human': 1,
 'alloy': 0,
 'in': 0,
 'uses': 0,
 'this': 0,
 'lives': 0,
 'Boeing': 0,
 'of': 1,
 'Human': 0,
 'improve': 0,
 'expanded': 1,
 'airplanes': 0,
 'advances': 0,
 'their': 0,
 'sciences': 0,
 'to': 0,
 'materials': 0,
 'quality': 1,
 'create': 0,
 'many': 0,
 'has': 1,
 'model': 0,
 'Science': 1}

In [36]:
import pandas as pd
pd.DataFrame(wordDicts)

,the,life,material,human,alloy,in,uses,this,lives,Boeing,...,their,sciences,to,materials,quality,create,many,has,model,Science
0,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1
1,0,0,1,0,0,1,1,0,1,0,...,1,1,1,0,0,0,0,0,0,0
2,0,0,0,0,1,0,1,1,0,1,...,0,0,1,1,0,1,1,0,1,0

In [30]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [37]:
tfBow = []

for i in range(len(wordDicts)):
    tfBow.append(computeTF(wordDict[i], bows[i]))

In [38]:
tfBow[0]

{'the': 0.375,
 'life': 0.375,
 'material': 0.125,
 'human': 0.375,
 'alloy': 0.125,
 'in': 0.125,
 'uses': 0.25,
 'this': 0.125,
 'lives': 0.125,
 'Boeing': 0.125,
 'of': 0.5,
 'Human': 0.125,
 'improve': 0.125,
 'expanded': 0.375,
 'airplanes': 0.125,
 'advances': 0.125,
 'their': 0.125,
 'sciences': 0.125,
 'to': 0.25,
 'materials': 0.125,
 'quality': 0.375,
 'create': 0.125,
 'many': 0.125,
 'has': 0.375,
 'model': 0.125,
 'Science': 0.75}

In [39]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [40]:
idfs = computeIDF(wordDicts)

In [41]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [42]:
tfidfBow = []

for i in range(len(wordDicts)):
    tfidfBow.append(computeTFIDF(tfBow[i], idfs))

In [43]:
import pandas as pd
pd.DataFrame(tfidfBow)

,the,life,material,human,alloy,in,uses,this,lives,Boeing,...,their,sciences,to,materials,quality,create,many,has,model,Science
0,0.17892,0.17892,0.059640,0.17892,0.059640,0.059640,0.044023,0.059640,0.059640,0.059640,...,0.059640,0.059640,0.044023,0.059640,0.17892,0.059640,0.059640,0.178920,0.059640,0.357841
1,0.00000,0.00000,0.095424,0.00000,0.000000,0.095424,0.035218,0.000000,0.095424,0.000000,...,0.095424,0.095424,0.035218,0.000000,0.00000,0.000000,0.000000,0.143136,0.000000,0.047712
2,0.00000,0.00000,0.000000,0.00000,0.086749,0.000000,0.032017,0.086749,0.000000,0.086749,...,0.000000,0.000000,0.032017,0.086749,0.00000,0.086749,0.086749,0.043375,0.086749,0.000000